@model GastosAppCore.Domain.Cuenta
@using GastosAppMvc.Helpers

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="content">
<ul class="pageitem">

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Cuenta</legend>

        @Html.HiddenFor(model => model.CuentaId)
<li class="smallfield" data-role="fieldcontain">
        <div class="editor-label">
            <span class="name">@Html.LabelFor(model => model.Nombre)</span>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
</li>
<li class="smallfield" data-role="fieldcontain">
        <div class="editor-label">
            <span class="name">@Html.LabelFor(model => model.Balance)</span>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Balance)
            @Html.ValidationMessageFor(model => model.Balance)
        </div>
</li>
<li class="select" data-role="fieldcontain">
        <div class="editor-label">
            <span class="name">@Html.LabelFor(model => model.Moneda)</span>
        </div>
        <div class="editor-field">
        @Html.DropDownListOptional("Moneda", new SelectList(ViewBag.Monedas as System.Collections.IEnumerable, "MonedaId", "Nombre", Model.Moneda.MonedaId))
        </div>
        
</li>
<li class="select" data-role="fieldcontain">
        <div class="editor-label">
            <span class="name">@Html.LabelFor(model => model.TipoCuenta)</span>
        </div>
        <div class="editor-field">
        @Html.DropDownListOptional("TipoCuenta", new SelectList(ViewBag.TipoCuentas as System.Collections.IEnumerable, "TipoCuentaId", "Nombre", Model.TipoCuenta.TipoCuentaId))
        </div>
</li>
        <p>
            <input type="submit" value="Save" data-icon="check"/>
        </p>
    </fieldset>
}
</ul>
</div>
<div id="leftnav">
    @Html.ActionLink("Regresar", "Index")
</div>
